<%= render 'shared/header', search: @search %>

<div class="body-content">
  <div class="container-fluid">
    <div class="row">

      <div class="list-head">
        <h2 class="h2">スポットの登録・編集</h2>
      </div>

      <div class="spot-new">
        <h3 class="h3">スポットの新規登録</h3>
       <!--    <div class=""> -->
        <%= form_for(@spot) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>

          <table class="table">
            <tbody>
              <tr>
                <td><%= f.text_field :name , autofocus: true, class:"form-control", placeholder: 'スポット名（必須）'%></td>
                <td><%= f.text_field :detail, autofocus: true, class:"form-control",placeholder: 'スポットの説明' %></td>
                <td><%= f.text_field :post_code, autofocus: true, class:"form-control",placeholder: '郵便番号' %></td>
                <td><%= f.text_field :address,  autofocus: true, class:"form-control" ,placeholder: '住所' %></td>
                <%= f.hidden_field :latitude %>
                <%= f.hidden_field :longitude %>
                <td><%= f.submit "　保存　", class: "btn btn-sm btn-info" %></td>
              </tr>
            </tbody>
          </table>

        <% end %>


    <!--       </div> -->
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>スポット名</th>
            <th>説明</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>緯度/経度</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @spots.present? %>
            <% @spots.each do |spot| %>
              <%= form_for(spot) do |f| %>
                <tr>
                  <td><%= f.text_field :name, autofocus: true, class:"form-control" %></td>
                  <td><%= f.text_field :detail, autofocus: true, class:"form-control" %></td>
                  <td><%= f.text_field :post_code, autofocus: true, class:"form-control" %></td>
                  <td><%= f.text_field :address, autofocus: true, class:"form-control" %></td>
                  <td><%= spot.latitude %>/<%= spot.longitude %></td>
                  <td><%= f.submit "更新", class: "btn btn-sm btn-info" %></td>
                  <td><%= link_to "削除", spot_path(spot), method: :delete,data: { confirm: 'スポットを削除してよろしいですか？' }, class:"btn btn-default btn-sm" %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
        </div>

    </div>
  </div>
</div>
