<!-- スマホ画面用 -->

<header class="header-nn">
    <div class="n-box">
      <div class="logo-box">
        <%= link_to root_path do %>
        <p class="header-logo">WithYou</p>
        <% end %>
      </div>
      <div class="welcome">
        <p class="welcome-p">
          <% if  user_signed_in? %>
            ようこそ<%= current_user.name %>さん
          <% elsif  admin_signed_in? %>
            ようこそ<%= current_admin.name %>さん
          <% else %>
            ようこそゲストさん
          <% end %>
        </p>
      </div>
    </div>
  <div class="n-box n-nav">
    <% if  user_signed_in? %>
      <nav>
        <ul class="list">
          <li class="item">
            <!-- スポット登録 -->
            <%= link_to " ", spots_path, class: "item-a a1 fas fa-map-marker-alt" %>
          </li>
          <li class="item">
            <!-- マイリスト -->
            <%= link_to " ",list_items_path(current_user), class: "item-a a2 fas fa-heart" %>
          </li>
          <li class="item mypage">
            <!-- マイページ -->
            <%= link_to " ", user_path(current_user.id), class: "item-a a3 fas fa-user" %>
          </li>
          <li class="item">
            <%= link_to "", users_sign_out_path, method: :delete, class: "item-a a9 fas fa-sign-out-alt" %>
          </li>
        </ul>
      </nav>

    <% elsif  admin_signed_in? %>

      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- 保育園の追加 -->
            <%= link_to "",new_nurseries_path, class: "item-a a7 fas fa-home" %>
          </li>
          <li class="item">
            <!-- ユーザー 一覧 -->
            <%= link_to "", admins_path, class: "item-a a8 fas fa-users" %>
          </li>
          <li class="item">
            <!-- ログアウト -->
            <%= link_to "", destroy_admin_session_path, method: :delete, class: "item-a a9 fas fa-sign-out-alt" %>
          </li>
        </ul>
      </nav>

    <% else %>

      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","#", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>

    <% end %>
    </div>

    <div class="search-box">
      <%= search_form_for(@search,:url => { :controller => :nurseries, :action => :index } ) do |f| %>
        <%= f.search_field :name_or_address_or_nearest_or_category_cont, class: "sbox", placeholder: '保育園名、住所、最寄り駅で検索' %>
        <div class="radio-button">
          <label><%= f.radio_button :category_eq, "認可", class: "checkbox01-input" %><span class="checkbox01-parts p1">認可</span></label>
          <label><%= f.radio_button :category_eq, "認証", class: "checkbox01-input" %><span class="checkbox01-parts p1">認証</span></label>
          <label><%= f.radio_button :category_eq, "認可外", class: "checkbox01-input" %><span class="checkbox01-parts">認可外</span></label>
        </div>
        <%= f.submit '', :class =>"sbtn" %>
        <i class="fas fa-search mushimegane"></i>
      <% end %>
    </div>

</header>




<!-- タブレット画面用 -->
<header class="header-n">

    <div class="n-box">
      <div class="logo-box">
        <%= link_to root_path do %>
        <p class="header-logo">WithYou</p>
        <% end %>
      </div>
      <div class="welcome">
        <p class="welcome-p">
          <% if  user_signed_in? %>
            ようこそ<%= current_user.name %>さん
          <% elsif  admin_signed_in? %>
            ようこそ<%= current_admin.name %>さん
          <% else %>
            ようこそゲストさん
          <% end %>
        </p>
      </div>
    </div>

  <div class="n-box n-nav">
    <% if  user_signed_in? %>
      <nav>
        <ul class="list">
          <li class="item">
            <!-- スポット登録 -->
            <%= link_to " ", spots_path, class: "item-a a1 fas fa-map-marker-alt" %>
          </li>
          <li class="item">
            <!-- マイリスト -->
            <%= link_to " ",list_items_path(current_user), class: "item-a a2 fas fa-heart" %>
          </li>
          <li class="item mypage">
            <!-- マイページ -->
            <%= link_to " ", user_path(current_user.id), class: "item-a a3 fas fa-user" %>
          </li>
          <li class="item">
            <%= link_to "", users_sign_out_path, method: :delete, class: "item-a a9 fas fa-sign-out-alt" %>
          </li>
        </ul>
      </nav>

    <% elsif  admin_signed_in? %>
      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- 保育園の追加 -->
            <%= link_to "",new_nurseries_path, class: "item-a a7 fas fa-home" %>
          </li>
          <li class="item">
            <!-- ユーザー 一覧 -->
            <%= link_to "", admins_path, class: "item-a a8 fas fa-users" %>
          </li>
          <li class="item">
            <!-- ログアウト -->
            <%= link_to "", destroy_admin_session_path, method: :delete, class: "item-a a9 fas fa-sign-out-alt" %>
          </li>
        </ul>
      </nav>

    <% else %>
      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","#", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>

    <% end %>
    </div>

    <div class="n-box search-box">
      <%= search_form_for(@search,:url => { :controller => :nurseries, :action => :index } ) do |f| %>
        <%= f.search_field :name_or_address_or_nearest_or_category_cont, class: "sbox", placeholder: '保育園名、住所、最寄り駅で検索' %>
        <%= f.select :category_eq, {"認可" => "認可","認証" => "認証","認可外" => "認可外"}, {include_blank: true}, {class: 'sbox-2 btn btn-default'} %>
        <%= f.submit '', :class =>"sbtn" %>
        <i class="fas fa-search mushimegane"></i>
      <% end %>
    </div>
</header>



<!-- PC画面用 -->
<header class="header">
  <div class="welcome">
    <p class="welcome-p">
      <% if  user_signed_in? %>
        ようこそ<%= current_user.name %>さん
      <% elsif  admin_signed_in? %>
        ようこそ<%= current_admin.name %>さん
      <% else %>
        ようこそゲストさん
      <% end %>
    </p>
  </div>
  <div class="header-content row">

    <%= link_to root_path do %>
    <div class="h-box col-md-2">
      <div class="logo-box">
        <p class="header-logo">WithYou</p>
      </div>
    </div>
    <% end %>
    <div class="h-box search-box col-md-5">
      <%= search_form_for(@search,:url => { :controller => :nurseries, :action => :index } ) do |f| %>
        <%= f.search_field :name_or_address_or_nearest_or_category_cont, class: "sbox", placeholder: '保育園名、住所、最寄り駅で検索' %>

        <%= f.select :category_eq, {"認可" => "認可","認証" => "認証","認可外" => "認可外"}, {include_blank: true}, {class: 'sbox-2 btn btn-default'} %>
        <%= f.submit '', :class =>"sbtn" %>
        <i class="fas fa-search mushimegane"></i>
      <% end %>
    </div>

    <div class="h-box nav-box col-md-5">

    <% if  user_signed_in? %>

      <nav>
        <ul class="list">
          <li class="item">
            <!-- スポット登録 -->
            <%= link_to " ", spots_path, class: "item-a a1 fas fa-map-marker-alt" %>
          </li>
          <li class="item">
            <!-- マイリスト -->
            <%= link_to " ",list_items_path(current_user), class: "item-a a2 fas fa-heart" %>
          </li>
          <li class="item mypage">
            <!-- マイページ -->
            <%= link_to " ", user_path(current_user.id), class: "item-a a3 fas fa-user" %>
            <ul class="mypage-ul">
              <li class="mypage-li li-gray"><%= link_to  current_user.name, user_path(current_user), class: "fas fa-user mypage-a" %></li>
              <li class="mypage-li"><%= link_to "マイリスト", list_items_path(current_user.id), class: "fas fa-heart mypage-a" %></li>
              <li class="mypage-li"><%= link_to "スポット編集", spots_path, class: "fas fa-map mypage-a" %></li>
              <li class="mypage-li"><%= link_to "ログアウト", users_sign_out_path, method: :delete, class: "fas fa-sign-out-alt mypage-a" %></li>
            </ul>
          </li>
        </ul>
      </nav>

    <% elsif  admin_signed_in? %>

      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- 保育園の追加 -->
            <%= link_to "",new_nurseries_path, class: "item-a a7 fas fa-home" %>
          </li>
          <li class="item">
            <!-- ユーザー 一覧 -->
            <%= link_to "", admins_path, class: "item-a a8 fas fa-users" %>
          </li>
          <li class="item">
            <!-- ログアウト -->
            <%= link_to "", destroy_admin_session_path, method: :delete, class: "item-a a9 fas fa-sign-out-alt" %>
          </li>
        </ul>
      </nav>

    <% else %>

      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","#", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>

    <% end %>

    </div>

  </div>
</header>




