<!-- スマホ画面用 ------------------------------------------------------------------------------------------>
<header class="header-nn">
    <div class="n-box">
      <div class="logo-box">
        <%= link_to root_path do %>
        <p class="header-logo"></p>
        <% end %>
      </div>
    </div>
  <div class="n-box n-nav">
      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","about_path", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>
    </div>
</header>

<!-- タブレット画面用 --------------------------------------------------------------------------------------->
<header class="header-n">
    <div class="n-box">
      <div class="logo-box">
        <%= link_to root_path do %>
        <p class="header-logo"></p>
        <% end %>
      </div>
    </div>
  <div class="n-box n-nav">
      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","#", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>
    </div>

</header>


<!-- PC画面用 -------------------------------------------------------------------------------------------->
<header class="header">
  <div class="header-content row">
    <%= link_to root_path do %>
    <div class="h-box col-md-2">
      <div class="logo-box">
        <p class="header-logo"></p>
      </div>
    </div>
    <% end %>

    <div class="h-box nav-box col-md-5">
      <nav class="header-right">
        <ul class="list">
          <li class="item">
            <!-- ログイン -->
            <%= link_to " ", new_user_session_path, class: "item-a a4 fas fa-sign-in-alt" %>
          </li>
          <li class="item">
            <!-- 新規登録 -->
            <%= link_to " ", new_user_registration_path, class: "item-a a5 fas fa-user-plus" %>
          </li>
          <li class="item">
            <!-- about -->
            <%= link_to " ","#", class: "item-a a6 fas fa-book" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
