<div class="row">

  <div class="col-sm-4">
    <div class="nursery-box nursery-box-left1">
      <div class="tell-box">
         <h4 class="nursery-box-right-h4">Tell</h4>
        <% if phone.present? %>
        <a class="tell fas fa-phone" href="tel:<%= phone %>"><span class="tell"><%= nursery.phone %>-<%= nursery.phone_middle %>-<%= nursery.phone_right %></span></a>
        <!-- スマホのときのみ発信できるように書き換える? -->
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="nursery-box nursery-box-left2">
      <h4 class="nursery-box-right-h4">info</h4>
      <table class="table">
        <tbody>
          <tr>
            <th class="col-sm-1">最寄り駅</th>
            <td><%= nursery.nearest %></td>
          </tr>
          <tr>
            <th>所在地</th>
            <td><%= nursery.address %></td>
          </tr>
          <tr>
            <th>開所時間</th>
            <td><%= nursery.date %> <%= nursery.time %></td>
          </tr>
          <tr>
            <th>定員</th>
            <td><%= nursery.capacity %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-sm-12">
    <div class="nursery-box nursery-box-right">
      <h4 class="nursery-box-right-h4">保育料</h4>
      <% nursery.prices.each do |price| %>
      <p><%= price.title %></p>
      <table class="table">
        <thead>
          <tr>
            <th>0歳</th>
            <th>1歳</th>
            <th>2歳</th>
            <th>3歳</th>
            <th>4歳</th>
            <th>5歳</th>
          </tr>
          <tr>
            <td><%= number_with_delimiter(price.zero) %>円</td>
            <td><%= number_with_delimiter(price.one) %>円</td>
            <td><%= number_with_delimiter(price.twe) %>円</td>
            <td ><%= number_with_delimiter(price.three) %>円</td>
            <td><%= number_with_delimiter(price.four) %>円</td>
            <td><%= number_with_delimiter(price.five) %>円</td>
          </tr>
        </thead>
      </table>
      <% end %>

    </div>
  </div>

</div>
<p class="nursery-show-p">※上記はあくまで公式サイトから抜粋した情報です。詳細は、保育園の公式サイトをご覧になるか、保育園に直接お問い合わせください。</p>
