



<div class="body-content">
  <div class="container-fluid">
    <div class="row">
<!--       <div class="col-sm-3 sidebar">
        <h2 class="h2">条件を指定する</h2>
        <div class="sidebar-box">
          <h3 class="h3">カテゴリー</h3>
          <ul class="side-list">
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">認可</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">認証</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">その他の認可外</span>
              </label>
            </li>
          </ul>
          <ul class="side-list">
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">一時保育</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">夜間・延長保育</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">病児・病後児保育</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="sidebar-box">
          <h3 class="h3">その他サービス</h3>
          <ul class="side-list">
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">土日あり</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">朝給食あり</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">夕給食あり</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">手作り給食・おやつ</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">オムツサービス</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">英語教育</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">リトミック</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">自然体験</span>
              </label>
            </li>
          </ul>
        </div>
      </div> -->

      <div class="main-content">
        <!-- 検索フォーム実装位置 -->
        <div class="index-header clearfix">
          <div class="index-header-box search">
            <form id="form">
            <input id="sbox" name="" type="text" placeholder="保育園名　地域" />
            <button id="sbtn" type="submit"><i class="fas fa-search mushimegane"></i></button>
            </form>
          </div>
          <div class="index-header-box category">
            <ul class="list-cate">
              <li class="item-cate btn btn-info">認可</li>
              <li class="item-cate btn btn-info">認証</li>
              <li class="item-cate btn btn-info">認可外</li>
            </ul>
          </div>
        </div>
        <div class="route">
          <ul class="list-route">
            <li class="item-route">自宅</li>
            <li class="item-route">保育園</li>
          </ul>
        </div>

        <!-- マップ実装位置 -->
          <div id="map" class="map-area" style='width: 100%; height: 600px;'></div>
      </div>

        <div class="nursery-area">
          <% @nurseries.each do |nursery| %>
            <%= link_to nursery.name, nurseries_path(nursery) %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script> -->

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([

      <% @nurseries.each do |nursery| %>
        {
          "lat": <%= nursery.latitude %>,
          "lng": <%= nursery.longitude %>,
          "picture": {
            "width":  32,
            "height": 32
          },
          "infowindow": '<%= nursery.name %>'
        },
      <% end %>
      <% if  user_signed_in? %>

      {
        "lat": <%= @user.latitude %>,
        "lng": <%= @user.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @user.name %>'
      }

      <% end %>
    ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>