<%= render 'shared/header' %>

<div class="body-content">

<%= form_for(@nursery,:url => { :controller => :nurseries, :action => :create } ) do |f| %>

	<%= f.hidden_field :admin_id, :value => @admin %>

	<div class="field">
		<%= f.label :name, "保育園の名前" %>
		<%= f.text_field :name, class: "" %>
	</div>
	<div class="field">
		<%= f.label :category, "施設区分" %>
		<%= f.select :category, [["認可", "認可"], ["認証", "認証"], ["認可外", "認可外"]],  :include_blank => true, class: 'sbox-2 btn btn-default' %>
	</div>
	<div class="field">
		<%= f.label :nearst, "最寄り駅" %>
		<%= f.text_area :nearest, class: "" %>
	</div>
	<div class="field">
		<%= f.label :phone, "電話番号" %>
		<%= f.text_field :phone, class: "" %>
	</div>
	<div class="field">
		<%= f.label :email, "メールアドレス" %>
		<%= f.text_field :email, class: "" %>
	</div>
	<div class="field">
		<%= f.label :capacity, "定員" %>
		<%= f.text_field :capacity, class: "" %>
	</div>
	<div class="field">
		<%= f.label :date, "開所日" %>
		<%= f.text_field :date, class: "" %>
	</div>
	<div class="field">
		<%= f.label :time, "開所時間" %>
		<%= f.text_field :time, class: "" %>
	</div>
	<div class="field">
		<%= f.label :holiday, "休園日" %>
		<%= f.text_area :holiday, class: "" %>
	</div>
	<div class="field">
		<%= f.label :url, "URL" %>
		<%= f.text_field :url, class: "" %>
	</div>
	<div class="field">
		<%= f.label :post_code, "郵便番号" %>
		<%= f.text_field :post_code, class: "" %>
	</div>
		<div class="field">
		<%= f.label :address, "住所" %>
		<%= f.text_area :address, class: "" %>
	</div>
	<div class="field">
		<%= f.label :latitude, "緯度" %>
		<%= f.text_field :latitude, class: "" %>
	</div>
	<div class="field">
		<%= f.label :longitude, "経度" %>
		<%= f.text_field :longitude, class: "" %>
	</div>

	<div class="field">
		<%= f.label :prices, "料金" %>
		<%= f.fields_for :prices do |m| %>
			<p>0 <%= m.text_field :zero %></p>
			<p>1 <%= m.text_field :one %></p>
			<p>2 <%= m.text_field :twe %></p>
			<p>3 <%= m.text_field :three %></p>
			<p>4 <%= m.text_field :four %></p>
			<p>5 <%= m.text_field :five %></p>
		<% end %>
	</div>

	<div class="button-area item-button">
		<%= f.submit "　完 了　", class: "btn btn-lg btn-info" %>
	</div>
<% end %>

</div>