<%= render 'shared/header', search: @search %>
<div class="body-content">
	<div class="container-fluid">
		<div class="row">

			<div class="list-head">
				<h2 class="h2">保育園情報の新規追加</h2>
			</div>

			<div class="n-form">
				<%= form_for(@nursery,:url => { :controller => :nurseries, :action => :create } ) do |f| %>
					<%= f.hidden_field :admin_id, :value => @admin %>
					<div class="col-md-6 col-sm-12">
						<table class="table table-bordered table-hover">
							<tbody>
								<tr>
									<td class="col-sm-3"><%= f.label :name, "保育園の名前" %></td>
									<td><%= f.text_field :name, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :category, "施設区分" %></td>
									<td><%= f.select :category, [["認可", "認可"], ["認証", "認証"], ["認可外", "認可外"]],  :include_blank => true, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :nearst, "最寄り駅" %></td>
									<td><%= f.text_field :nearest, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :phone, "電話番号" %></td>
									<td>
										<p class="phone-notice">※半角数字・ハイフンなしで入力してください</p>
										<%= f.text_field :phone, autofocus: true, class:"form-control phone-form" %>
										<p class="haihun">‐</p>
										<%= f.text_field :phone_middle, autofocus: true, class:"form-control phone-form" %>
										<p class="haihun">‐</p>
										<%= f.text_field :phone_right, autofocus: true, class:"form-control phone-form" %>
									</td>
								</tr>
								<tr>
									<td><%= f.label :email, "メールアドレス" %></td>
									<td><%= f.text_field :email, autofocus: true, class:"form-control", placeholder: '半角で入力してください' %></td>
								</tr>
								<tr>
									<td><%= f.label :date, "開所日" %></td>
									<td><%= f.text_field :date, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :time, "開所時間" %></td>
									<td><%= f.text_field :time, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :holiday, "休園日" %></td>
									<td><%= f.text_field :holiday, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :url, "URL" %></td>
									<td><%= f.text_field :url, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :post_code, "郵便番号" %></td>
									<td><%= f.text_field :post_code, autofocus: true, class:"form-control", placeholder: '半角数字・ハイフンなしで入力してください' %></td>
								</tr>
								<tr>
									<td><%= f.label :address, "住所" %></td>
									<td><%= f.text_field :address, autofocus: true, class:"form-control" %></td>
								</tr>
								<tr>
									<td><%= f.label :latitude, "緯度" %></td>
									<td><%= f.text_field :latitude, autofocus: true, class:"form-control", placeholder: '自動で保存されます。入力する必要はありません。' %></td>
								</tr>
								<tr>
									<td><%= f.label :longitude, "経度" %></td>
									<td><%= f.text_field :longitude, autofocus: true, class:"form-control", placeholder: '自動で保存されます。入力する必要はありません。' %></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6 col-sm-12">
						<%= f.fields_for :prices do |m| %>
							<table class="table table-bordered table-hover">
								<tbody>
									<tr>
										<td class="col-sm-3"><%= f.label :title, "料金タイトル" %></td>
										<td class="col-sm-6"><%= m.text_field :title, autofocus: true, class:"form-control", placeholder: '(例　1日10時間・週5登園の場合　など)' %></td>
										<td class="col-sm-3"></td>
									</tr>
									<tr>
										<td><%= f.label :zero, "0歳児" %></td>
										<td><%= m.text_field :zero, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
									<tr>
										<td><%= f.label :one, "1歳児" %></td>
										<td><%= m.text_field :one, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
									<tr>
										<td><%= f.label :twe, "2歳児" %></td>
										<td><%= m.text_field :twe, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
									<tr>
										<td><%= f.label :three, "3歳児" %></td>
										<td><%= m.text_field :three, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
									<tr>
										<td><%= f.label :four, "4歳児" %></td>
										<td><%= m.text_field :four, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
									<tr>
										<td><%= f.label :five, "5歳児" %></td>
										<td><%= m.text_field :five, autofocus: true, class:"form-control",placeholder: '半角数字・カンマなしで入力してください' %></td>
										<td>円</td>
									</tr>
								</tbody>
							</table>

						<% end %>
					</div>
				<%= f.submit "　完 了　", class: "btn btn-lg btn-info btn-block" %>
			<% end %>
		</div>
	</div>
</div>
</div>