<%= render 'shared/header' %>

<div class="body-content">

  <div class="show-header">
    <div class="f cate-logo">
      <p class="h3 cate"><%= @nursery.category %></p>
    </div>
    <div class="f head">
      <%= link_to @nursery.url do %>
       <div class="s">
         <div class="hukidasi">外部サイトに移動します</div>
          <h1 class="h1"><%= @nursery.name %></h1>
       </div>
      <% end %>
      <p class="head-p">　最寄り駅：<%= @nursery.nearest %></p>
    </div>

    <% if user_signed_in? %>
        <% if @list_itema.present? %>
          <%= link_to "", list_item_path(@list_itema.id), method: :delete, class:"addlist2 fas fa-heart"%>
        <% else %> <!-- if リストアイテム -->
          <div class="add-box">
            <%= form_for (@list_item) do |f| %>
              <%= f.hidden_field :nursery_id, :value => @nursery.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :row_order, :value => current_user.list_items.count + 1 %>
              <%= button_tag "", class: "addlist fas fa-heart" %> <!-- マイリストに追加 -->
            <% end %> <!-- form_for -->
          </div>
        <% end %> <!-- if リストアイテム -->
    <% end %> <!-- if ユーザー -->
  </div>



  <div class="container-fluid">
    <div class="row show-main">

      <% if admin_signed_in? %>
      <div class="col-sm-8 main-content">

        <div class="map-area">
          <div id="map2" style="width: 720px; height: 600px;"></div>
        </div>
        <div class="button-area">
          <%= link_to "  編集する  ",edit_nurseries_path(@nursery), class:"btn btn-lg btn-info"%>
          <%= link_to "  削除する  ",nurseries_path(@nursery), method: :delete, data: { confirm:'本当に削除しますか？'}, class:"btn btn-lg btn-danger"%>
        </div>
      </div>
      <% end %>

      <div class="col-sm-4 sidebar">
        <div class="tell-box">
          <a class="tell fas fa-phone" href="tel:<%= @nursery.phone %>"><%= @nursery.phone %></a>
          <!-- スマホのときのみ発信できるように書き換える? -->
        </div>
        <div class="address-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">所在地</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.address %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="date-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">開所時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.date %>  <%= @nursery.time %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="capacity-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">定員</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.capacity %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="price-box box ohana">
          <h4 class="h4 center-text price-h4">保育料</h4>
          <% @nursery.prices.each do |price| %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ></th>
                <th class="center-text"><%= price.title %></th>
              </tr>
              <tr>
                <th class="price-th center-text">０歳</th>
                <td class="center-text"><%= price.zero %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">1歳</th>
                <td class="center-text"><%= price.one %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">2歳</th>
                <td class="center-text"><%= price.twe %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">3歳</th>
                <td class="center-text"><%= price.three %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">4歳</th>
                <td class="center-text"><%= price.four %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">5歳</th>
                <td class="center-text"><%= price.five %>円</td>
              </tr>
            </thead>
          </table>
          <% end %>
          <p>※上記はあくまで公式サイトから引用した一例です。詳細は、保育園の公式サイトをご覧になるか、保育園に直接お問い合わせください。</p>
        </div>

      </div>

    </div>
  </div>
</div>

<% if user_signed_in? %>
<% if current_user.address.present? %><!-- ユーザーの住所があるとき -->

<script type="text/javascript">
let startLatLng = [<%= @user.latitude %>, <%= @user.longitude %>];
let targetLatLng = [<%= @nursery.latitude %>, <%= @nursery.longitude %>];
let startMarkerImg = '/assets/icon.png';
let invisibleMarkerImg = '/assets/noicon.png';

<% if @nursery.category == '認可' %>
  let goalMarkerImg = '/assets/icon2.png';

<% elsif @nursery.category == '認証' %>
  let goalMarkerImg = '/assets/icon3.png';

<% elsif @nursery.category == '認可外' %>
  let goalMarkerImg = '/assets/icon4.png';

<% else @nursery.category == 'その他' %>
  let goalMarkerImg = '/assets/icon5.png';

<% end %>

let map;
function initMap() {
    // ルート検索の条件
    let request = {
        origin: new google.maps.LatLng(startLatLng[0], startLatLng[1]), // 出発地
        destination: new google.maps.LatLng(targetLatLng[0], targetLatLng[1]), // 目的地
        waypoints: [], // 経由地点
        travelMode: google.maps.DirectionsTravelMode.WALKING, // 交通手段(歩行。DRIVINGの場合は車)
    };

    // マップの生成
    let map = new google.maps.Map(document.getElementById("map2"), {
        center: new google.maps.LatLng(targetLatLng[0], targetLatLng[1]), // マップの中心
        zoom: 14 // ズームレベル
    });

    let d = new google.maps.DirectionsService(); // ルート検索オブジェクト
    let r = new google.maps.DirectionsRenderer({ // ルート描画オブジェクト
        map: map, // 描画先の地図
        preserveViewport: true, // 描画後に中心点をずらさない
        suppressMarkers: true
    });


    // ルート検索
    d.route(request, function(result, status){
        if (status == google.maps.DirectionsStatus.OK) {
            // ルートの所要時間
            let time = result.routes[0].legs[0].duration.text;
            // ルートの距離
            let dist = result.routes[0].legs[0].distance.text;
            result.routes[0].legs[0].start_address = '<%= @user.name %>';
            result.routes[0].legs[0].end_address = '<%= @nursery.name %>' + '  【家からの距離：' + dist + ' /所要時間(徒歩)：'+ time +' 】';
            r.setMap(map);
            r.setDirections(result);

            let leg = result.routes[0].legs[0];
            targetMakeMarker(leg.end_location, map);
            startMakeMarker(leg.start_location, map);

            infoWindow = new google.maps.InfoWindow({
                                                 content: '<div class="map">' + '<%= @nursery.name %>' + '  【家からの距離：' + dist + ' /所要時間(徒歩)：'+ time +' 】' + '</div>'
                                               });
            markerEvent(map);
        }
    });
}


function targetMakeMarker(position, map) {
  let marker = new google.maps.Marker({
    position: position,
    map: map,
    icon:  new google.maps.MarkerImage(
    invisibleMarkerImg, // 画像のパス
    new google.maps.Size(1, 1), // マーカーのwidth,height
    new google.maps.Point(0, 0), // 画像データの中で、どの部分を起点として表示させるか
    new google.maps.Point(12, 33), // マーカーのpositionで与えられる緯度経度を画像のどの点にするか
    new google.maps.Size(1, 1))
  });
}

function startMakeMarker(position, map) {
  let marker = new google.maps.Marker({
    position: position,
    map: map,
    icon:  new google.maps.MarkerImage(
    startMarkerImg, // 画像のパス
    new google.maps.Size(40, 40), // マーカーのwidth,height
    new google.maps.Point(0, 0), // 画像データの中で、どの部分を起点として表示させるか
    new google.maps.Point(12, 33), // マーカーのpositionで与えられる緯度経度を画像のどの点にするか
    new google.maps.Size(40, 40)),
  });
}

function markerEvent(map) {
    let image = ({
                    url: goalMarkerImg,
                    scaledSize: new google.maps.Size(40,40)
                    });
   let markerLatLng = new google.maps.LatLng({lat:<%= @nursery.latitude %>, lng: <%= @nursery.longitude %>});
   let marker = new google.maps.Marker({
                                    position: markerLatLng,
                                    map: map,
                                    icon: image
                                   });
  console.log(marker)
    marker.addListener('click', function() { // マーカーをクリックしたとき
    infoWindow.open(map, marker); // 吹き出しの表示
  });
}
// let markers = {
//   goalMarker: new google.maps.MarkerImage(
//     goalMarkerImg, // 画像のパス
//     new google.maps.Size(24, 33), // マーカーのwidth,height
//     new google.maps.Point(0, 0), // 画像データの中で、どの部分を起点として表示させるか
//     new google.maps.Point(12, 33), // マーカーのpositionで与えられる緯度経度を画像のどの点にするか
//     new google.maps.Size(24, 33)) // 画像の大きさを拡大縮小
// };


initMap()

</script>

<% else %><!-- ユーザーの住所がないとき -->


<script type="text/javascript">
let map;
let marker;
let infoWindow;
let center = {
  lat: <%= @nursery.latitude %>,
  lng: <%= @nursery.longitude %>,

<% if @nursery.category == '認可' %>
  ico: '/assets/icon2.png'

<% elsif @nursery.category == '認証' %>
  ico: '/assets/icon3.png'

<% elsif @nursery.category == '認可外' %>
  ico: '/assets/icon4.png'

<% else @nursery.category == 'その他' %>
  ico: '/assets/icon5.png'

<% end %>
};

function initMap() {
 map = new google.maps.Map(document.getElementById('map2'), {
     center: center,
     zoom: 14
   });

 let image = ({
                    url: center.ico,
                    scaledSize: new google.maps.Size(50,50)
                    });

 marker = new google.maps.Marker({
      position: center,
      map: map,
      icon: image
   });

 infoWindow = new google.maps.InfoWindow({
        content: '<div class="map"><%= @nursery.name %></div>'
  });
 marker.addListener('click', function() {
     infoWindow.open(map, marker);
    });
}
</script>
<% end %><!-- ユーザー住所の有無分岐　おわり -->
<% else %><!-- ユーザーがログインしていないとき -->
<script type="text/javascript">
let map;
let marker;
let infoWindow;
let center = {
  lat: <%= @nursery.latitude %>,
  lng: <%= @nursery.longitude %>,

<% if @nursery.category == '認可' %>
  ico: '/assets/icon2.png'

<% elsif @nursery.category == '認証' %>
  ico: '/assets/icon3.png'

<% elsif @nursery.category == '認可外' %>
  ico: '/assets/icon4.png'

<% else @nursery.category == 'その他' %>
  ico: '/assets/icon5.png'

<% end %>
};

function initMap() {
 map = new google.maps.Map(document.getElementById('map2'), {
     center: center,
     zoom: 14
   });

 let image = ({
                    url: center.ico,
                    scaledSize: new google.maps.Size(50,50)
                    });

 marker = new google.maps.Marker({
      position: center,
      map: map,
      icon: image
   });

 infoWindow = new google.maps.InfoWindow({
        content: '<div class="map"><%= @nursery.name %></div>'
  });
 marker.addListener('click', function() {
     infoWindow.open(map, marker);
    });
}
</script>
<% end %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfiov9mIsmVcZyqJb-jQiTRTS_2rFY9gM&callback=initMap"></script>