<div class="body-content">


  <div class="show-header">
    <div class="f cate-logo">
      <p class="h3 cate"><%= @nursery.category %></p>
    </div>
    <div class="f head">
      <%= link_to @nursery.url do %>
       <div class="s">
         <div class="hukidasi">外部サイトに移動します</div>
          <h1 class="h1"><%= @nursery.name %></h1>
       </div>
      <% end %>
      <p class="head-p">　最寄り駅：<%= @nursery.nearest %></p>
    </div>
    <div class="add-box">
      <a class="addlist fas fa-heart" href=""></a>
    </div>
  </div>



  <div class="container-fluid">
    <div class="row show-main">
      <div class="col-sm-8 main-content">
        <div class="main-img">
          <%= attachment_image_tag @nursery, :image, :fill, 720, 300, fallback: "noimage.png", size: '720x300' %>
        </div>　<!-- 保育園の写真　メイン -->
        <div class="concept-box">
          <h2 class="h2"><%= @nursery.concept %></h2>
          <p class="concept-detail"><%= @nursery.concept_detail %></p>
        </div>
        <div class="tag-box">
          <p></p>
        </div>
        <div class="map-area">
          <div id="map" style="width: 720px; height: 400px;"></div>
        </div>
        <div class="button-area">
          <%= link_to "　編集する　",edit_nurseries_path(@nursery), class:"btn btn-lg btn-info"%>
          <%= link_to "　削除する　",nurseries_path(@nursery), method: :delete, data: { confirm:'本当に削除しますか？'}, class:"btn btn-lg btn-danger"%>
        </div>
      </div>

      <div class="col-sm-4 sidebar">
        <div class="tell-box">
          <a class="tell fas fa-phone" href="tel:08061599312"><%= @nursery.phone %></a>
          <!-- スマホのときのみ発信できるように書き換える -->
        </div>
        <div class="address-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">所在地</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.address %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="date-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">開所時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.date %>　<%= @nursery.time %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="capacity-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">定員</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text"><%= @nursery.capacity %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="price-box box ohana">
          <h4 class="h4 center-text price-h4">保育料</h4>
          <% @nursery.prices.each do |price| %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ></th>
                <th class="center-text">例)週5/1日10時間の場合</th>
              </tr>
              <tr>
                <th class="price-th center-text">０歳</th>
                <td class="center-text"><%= price.zero %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">1歳</th>
                <td class="center-text"><%= price.one %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">2歳</th>
                <td class="center-text"><%= price.twe %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">3歳</th>
                <td class="center-text"><%= price.three %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">4歳</th>
                <td class="center-text"><%= price.four %>円</td>
              </tr>
              <tr>
                <th class="price-th center-text">5歳</th>
                <td class="center-text"><%= price.five %>円</td>
              </tr>
            </thead>
          </table>
          <% end %>
          <p>※上記はあくまで一例です。費用に関する詳細は、保育園に直接お問い合わせください。</p>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @nursery.latitude %>,
        "lng": <%= @nursery.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @nursery.name %>'
      },

      <% if  user_signed_in? %>
      {
        "lat": <%= @user.latitude %>,
        "lng": <%= @user.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @user.name %>'
      }
      <% end %>
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>