<div class="body-content">
  <div class="container-fluid">
    <div class="row">

      <div class="list-content">
        <div class="list-head">
          <h2 class="h2">マイリスト</h2>
        </div>

      <div class="col-sm-3 sidebar">
        <h3 class="h3 memo">Memo</h3>

        <% if @memo1.present? %>

          <div class="memo-box">
            <%= form_for(@memo1) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.text_area :body, class: "memo-form" %>
              <div>
                <%= f.submit "　保存　", class: "btn btn-sm btn-info" %>
              </div>
              
            <% end %>
          </div>
        <% else %>
          <div class="memo-box">
            <%= form_for(@memo2) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.text_area :body, size: "35x10", class: "" %>
              <div>
                <%= f.submit "　保存　", class: "btn btn-sm btn-info" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
        <div class="col-sm-9">
          <div class="list-a-box">
          <a class="list-a" href="">並べ替え</a>
        </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>並び順</th>
                <th>保育園名</th>
                <th></th>
                <th>所在地</th>
                <th>電話番号</th>
                <th>家からの距離</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @list_items.each do |list_item| %>
              <tr>
                <td>1</td>
                <td><%= link_to list_item.nursery.name, nurseries_path(list_item.nursery.id) %></td>
                <td><%= list_item.nursery.category %></td>
                <td><%= list_item.nursery.address %></td>
                <td><%= list_item.nursery.phone %></td>
                <td>data</td>
                <td><%= link_to "解除", list_item_path(list_item.id), method: :delete,data: { confirm: 'マイリストから解除してよろしいですか？' }, class:"btn btn-default btn-xs" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
